html{
	font-family: "Roboto";
	background-color: black;
}

.sidebar{
	height: 100%;	/* Full height */
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	/* overflow-y: scroll; */

	color: white;
}

.main{
	height: 100%;
	position: fixed;
	top: 0;
    left: 15%;
	width: 85%;
}
