html{
	font-family: "Roboto";
}

body{
	margin: 0;
}

.page-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 100vh;
	overflow-y: scroll;
	background-color: black;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.sidebar-title{
	color: white;
	padding: 10px;
}

.viewer-container{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 4;
	height: 100vh;

	background-color: black;
}